logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
.metals/
/.bloop
.bsp/
.vscode/
/RUNNING_PID
conf/application.local.conf
# Build artifacts
project/.bloop/
project/project/
project/project/target/
project/target/
